.content .messages ul li {
    .user-img {
        .first-letters {
            width: 22px;
            height: 22px;
            border-radius: 50%;
            margin-top: 9px;
            border: 1px solid;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    p.message {
        padding: 10px 15px;
        border-radius: 20px;
        max-width: 300px;
        line-height: 1.2;
        margin: 0;

        a.link {
            color: #ffa726;
            font-weight: 400;
        }
    }
}
