.start-meeting-form {
    height: 100vh;
    &.flex-form-holder {
        .form-wrapper {
            padding: 20px;
            width: 40%;
        }
    }
}
@media screen and (max-width: 420px) {
    .start-meeting-form {
        &.flex-form-holder {
            .form-wrapper {
                width: 75%;
            }
        }
    }
}
