ul.participant-list {
    li > div {
        display: flex;
    }
    li.contact {
        display: block;
        padding: 10px 0 0 15px;
        font-size: 0.9em;
        cursor: pointer;

        &:hover {
            background: #32465a;
        }
        &.active {
            background: #32465a;
            border-right: 5px solid #435f7a;

            .wrap {
                span.contact-status {
                    border: 2px solid #32465a !important;
                }
            }
        }
    }
}
